#conversejs {
    .flyout {
        border: 1em solid $chat-head-color;
        border-top: 0.8em solid $chat-head-color;
        border-radius: 0;
        bottom: 0;
        bottom: 0;
    }
    .chat-head {
        font-size: 20px;
    }
    .chatbox {
        height: 100%;
        margin: 0;
        @include calc(width, '100% - #{$controlbox-width}');
        margin: 0;
        .box-flyout {
            @include calc(width, '100% - #{$controlbox-width}');
            box-shadow: none;
            min-width: auto;
        }
        .chat-content {
            padding: 0 1.5em 0.5em 1.5em;
        }

        form.sendXMPPMessage {
            ul {
                width: 100%;
            }
            .toggle-smiley {
                padding-left: 0.5em;
                ul {
                    li {
                        padding: 0.5em;
                    }
                }
            }
        }
    }
}
